# **A.I UNITAS**
## **Introduction to Python**
### *John Leo, Source By Fast Campus*

#**Python에서 변수의 의미 이해하기 & 기본 데이터 타입 선언하기**
 - int, float, str, bool

### 기본 데이터 타입
* variable declaration & value assignment (변수 선언 및 값 할당)

##### =  대입 연산자,  ==  비교 연산자 
 - 대입의 경우, 오른쪽의 수식이나 값을 evaluation(여기서는 계산이라는 의미로 사용) 한 뒤, 
 - 왼쪽에 명시된 변수에 해당 값을 대입
 - 변수는 해당 값을 가지게 됨

In [ ]:
a = 1 # int
b = 12.4 # float

a == b

False

#### **comment(주석)**
  - 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음
  - python이 소스코드를 실행하면서 #를 만나면 무시
  - 개발자(사람)가 보기 위한 용도로 사용

In [ ]:
# this line is not interpreted

#### **print 함수**
  - 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드블럭
  - 해당 변수의 값을 출력
  - , 로 여러 변수를 나열하면 한줄에 출력
  - 기본적으로는 한칸 띄어쓰기 후 출력

In [ ]:
a = 1
b = 3
c= 5

print(a,b,c)
print(a,b,c)

1 3 5
1 3 5

* **print함수 설정**
 - sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
 - end : 마지막에 출력할 문자열

In [ ]:
print(a, b, c, sep="*", end="&")
print(a, b, c, sep="", end="&")

1*3*5&135&

#### **변수 값 확인법**
 - print() 함수 사용
 - 변수 값을 코드의 마지막에 위치 시킨 후 실행
   - 이 경우 output으로 변수의 값이 출력

hello

#### **variable naming (변수 이름 규칙)**
  - 숫자로 시작하는 이름을 제외하고 영문 대소문자, _, 숫자로 구성가능 
  - 아래의 예제는 모두 valid한 변수 이름
  - 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
    - 코드를 읽은 것을 더 쉽게 할 수 있음
    - e.g) a = 1000의 경우보다 **student_num = 1000**로 명시한 것이 변수에 대한 이해가 빠름

In [ ]:
abc_123
ABC_123
_ABCabc
_123abc

SyntaxError: ignored

* **invalid한 변수 이름의 예**
 - 숫자로 시작하면 안되는 이유는?

#### **reserved keywords (예약어)**
  - python에서 미리 선점하여 사용중인 키워드
  - 변수, 함수, 클래스 등등의 사용자 정의 이름으로 사용할 수 없음
  - _랑은 같이 쓸 수 있음

In [ ]:
class def except try if else elif while

1

### 기본 데이터 타입 
  - 정수 (int)
  - 실수 (float)
  - 문자열 (str)
  - 불리언 (boolean)

#### type 함수
 - 해당 변수, 값의 타입(type)을 알고자 할 때 사용

In [ ]:
a = 1
type(a)

int

#### **None**
 - 아무런 값을 갖지 않을 때 사용
 - 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
 - 기타 언어의 NULL, nil등과 같은 의미로 사용

3

#### **comparison operator(비교 연산자)** 
  - 프로그래밍에서는 비교를 할 경우, = 대신 **==**를 사용
  - <, > (작다, 크다)
  - <=, >= (작거나 같다, 크거나 같다)
  - == 같다
  - != 같지 않다
  - 비교 연산자의 결과는 bool 타입

In [ ]:
a = 1
b = 2
a < b
a > b
a == b
a >= b
a != b
a <= b

True

#### **numbers (숫자형 타입)**
 - 정수, 실수로 구성
 - 수학의 기본 연산자(가감승제) 사용 가능

In [ ]:
a = 5
b = 4
#a * b
#a / b
#a + b
#a - b
#a % b
#a ** b

a ** b

625

#### **operator priorities (연산자 우선순위)**
  - 기본적인 수학의 연산자와 동일
  - 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [ ]:
a = 3
b = 2

(a + b) * a

15

*  **연습문제** 다음의 각 a값을 출력 했을 때 결과는?

In [ ]:
a = 9
print(a)
print(a - 3)
print(a)

9
6
9

#### **expression evaluation & assignment (식평가 & 대입)**
 - 변수의 값이 변경되기 위해서는 =를 사용하여 대입이 발생하는 경우에만 해당

In [ ]:
a = 10

a -= 5
print(a)

5

#**문자열(str) 타입 이해하기**

### **string (문자열)**
 - 복수개의 문자를 순서대로 나열 한 것
 - 문자열은 '(작은따옴표) 혹은 "(큰따옴표) 사이에 문자를 넣어서 생성
 - 문자열 자체에 ', "가 있는 경우에는 각각 그 반대의 기호로 생성

#### **''' '''사용하여 표현 가능**
  - 차이점 
    - '', "" -> 한줄 문자열 표현
    - ''' ''' -> 어려줄에 걸쳐 문자열 표현 가능

In [ ]:
a = "minjae's teacher"
b ='"minjae"'
c = """soo 
yeon"""
d ='''soo 
yeon'''

In [ ]:
c = """hello
world"""

print(c)

hello
world"

#### escape string (이스케이프 문자)
* 문자열내의 일부 문자의 의미를 달리하여 `특정한 효과`를 주는 것
* `\n` : new line `\t` : tab 등

Hello World
min	jae

#### **indexing & slicing string (문자열 인덱스 및 추출)**
  - 문자열의 각 문자는 순서가 있음
  - 이때 각 문자열의 순서를 **인덱스** 라고 함
  - 첫번째 문자부터 마지막까지 차례대로의 순서를 가짐
  - 첫번째 시작문자의 순서는 0으로 시작 (1이 아님)

* **연습문제**
문자열의 마지막 문자의 순서의 값은?

In [ ]:
a = "minjae"

'e'

#### **-1 인덱스**
  - 다른 언어와는 달리, python의 경우 음수 인덱스를 지원
  - -1이 가장 마지막 인덱스를, -2가 마지막에서 두번째 인덱스를 의미...

In [ ]:
print(a[-2])

a

#### **인덱스의 범위**
  - 인덱스는 [0, 문자열의 길이) 의 범위만 유효
  - 음수 인덱스를 사용할 경우, [-문자열의 길이, -1]
  - 범위를 넘어갈 경우 에러 발생

In [ ]:
a = "minjae"
a[-7]

IndexError: ignored

#### **문자열 slicing**
  - 인덱스가 하나의 문자만을 추출한다면,
  - slicing은 부분 문자열을 추출한다고 볼 수 있음
  - [시작:끝]와 같이 명시하여 [시작, 끝)에 해당하는 부분 문자열을 추출
  - 시작, 끝 인덱스가 생략이 되어 있다면, 0부터 혹은 끝까지로 간주

In [ ]:
a = "minjae like coding"

a[:]

'nja'

#### **문자열 함수**
  - 문자열은 여러가지 기능 제공을 위한 함수를 내장
  - 함수란 특정 기능을 하는 코드로 언제든지 호출하여 해당 기능을 사용 가능하도록 구성한 코드
  - 추후에 함수에 대해 자세히 다룰 예정

In [ ]:
a = 'soo yeon'
a.upper()

'SOO YEON'

* **replace** 
 - 문자열 내의 특정 문자를 치환

In [ ]:
a = "minjae"
a.replace("m", "j")

'jinjae'

* **format**
 - 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성

In [ ]:
name1 = "soo yeon"
name2 = "minjae"

content = f"su hyung is coding with {name1} and {name2}"

print(content)

su hyung is coding with soo yeon and minjae

* **split**
 - 문자열을 특정한 문자 구분하여(delimiter) 문자열의 리스트로 치환

['minjae ha', ' ', 'kill for python']

# **list, tuple에 대해 이해 및 실습**

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

In [ ]:
a = (1,2)
b = list(a)
print(b)

[1, 2]

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [ ]:
c = (1,2,3)
d = list(c)#다른 타입으로부터 리스트 생성하고자 하는 경우에도 list 함수
print(d)

[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [ ]:
a = 'hello world'
b = a.split()
print(b)

['hello', 'world']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [ ]:
a = [3,4,5,6,7,8,9,0]

0

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

TypeError: ignored

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

#[start:end:step]
a[0:10:5]

[1, 6]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [ ]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [ ]:
a = ["song su jin", "won ja yeon", "oh gwang ouk"]
a.insert(3, "kim jin min")
print(a)

['song su jin', 'won ja yeon', 'oh gwang ouk', 'kim jin min']

+ **remove()**
 * 값으로 항목 삭제

In [ ]:
a.remove("kim jin min")
print(a)

['song su jin', 'won ja yeon', 'oh gwang ouk']

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [ ]:
jalga = a.pop(0)
print(jalga)

song su jin

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [ ]:
a.index("oh gwang ouk")

1

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [ ]:
names = ["soo yeon", "su hyung", "minjae"]

"gonseung" in names

False

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [ ]:
a = [1,4,5,6,2,6,7,8,320]

b = sorted(a)
print(a)

[1, 4, 5, 6, 2, 6, 7, 8, 320]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [ ]:
a = (1,2,3,4,5)
print(a) #immutable

(1, 2, 3, 4, 5)

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [ ]:
a, b, c = (1,2,3)
type(a)

int

* **연습문제** a와 b의 값을 교환하시오

In [ ]:
a = 1
b = 2

a, b = 2, 1
print(a, b)

2 1

# **dictionary, set에 대해 이해 및 실습**

### **dictionary**
 + 키와 값을 갖는 데이터 구조
 + 키는 내부적으로 hash값으로 저장
 + 순서를 따지지 않음. 즉, 인덱스가 없음

In [ ]:
a = {"name": "sooyeon", "name2": "minjae"}
print(a)

{'name': 'sooyeon', 'name2': 'minjae'}

+ **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [ ]:
a = {"name": "sooyeon", "name2": "minjae"}

a["age"] = "21"

print(a)

{'name': 'sooyeon', 'name2': 'minjae', 'age': '21'}

+ **update()**
 * 두 딕셔너리를 병합함
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [ ]:
a = {"name": "sooyeon", "name2": "minjae"}

b = {"name": "global business", "major": "business"}

a.update(b)
print(a)

{'name': 'global business', 'name2': 'minjae', 'major': 'business'}

* **key삭제**
 - del 키워드 사용
 - pop 함수 이용

{'name': 'global business'}

global business
{'major': 'business'}

* **clear()**
 + 딕셔너리의 모든 값을 초기화

In [ ]:
b = {"name": "global business", "major": "business"}

b.clear()
print(b)

{}

* **in**
 + key값 존재 확인
 + O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [ ]:
b = {"name": "global business", "major": "business"}

"name" in b

True

* **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [ ]:
b = {"name": "global business", "major": "business"}

#a = b.get("gpa")  -> none 반환
# a = b["gpa"] -> program down
a = b["name"]
print(a)

global business

#### **모든 keys, values 접근**
 + keys() - 키만 반환
 + values() - 값만 반환
 + items() - 키, 값의 튜플을 반환

In [ ]:
a = {"age": 21, "major": "digital business", "doublemajor": "a.i"}
b = tuple(a.items())
print(b)

(('age', 21), ('major', 'digital business'), ('doublemajor', 'a.i'))

### **set**
 + dictionary에서 key만 활용하는 데이터 구조로 이해
 + 수학에서의 집합과 동일한 개념

In [ ]:
a = set()
type(a)

set

* **set()으로 집합으로 변환**

In [ ]:
a = [1,23,4,45,6,8,8]
b = set(a)
print(b)

{1, 4, 6, 8, 45, 23}

+ **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [ ]:
a = {1,2,3}
b = {1,2,3,4,5}

#print(a.union(b)) #합집합
#print(a.intersection(b)) #교집합
#print(a.difference(b)) #차집합
print(a.issubset(b)) #부분 집합

True

#**조건문의 이해 및 활용 (if)**

#### condition (조건문)
 + 특정 조건을 만족하는 경우에만 수행할 작업이 있는 경우 사용
 + 모든 조건은 boolean으로 표현 됨 (예외 사항은 아래 배울 예정)
 + if, elif, else 키워드가 사용
 + 조건문의 경우 if, elif, else 블록에 종속된 코드는 들여쓰기로 표현 가능
 + 즉 아래코드에서와 같이, 조건문 아래에 들여쓰기된 2줄의 코드만이 조건문의 조건에 따라 수행될 수도, 수행되지 않을 수도 있는 코드라고 할 수 있음
 + 들여쓰기 된 코드를 블록(block), 또는 코드블록이라고 함
 + python에서 모든 블록의 시작점의 마지막에는 :(콜론, colon) 추가가 필요

```python
if 6 >= 5:
    print ('6 is greater than 5')
    print ('Yeah, it is true')
print ('This code is not belongs to if statements')
```

In [1]:
#indent

* Logical AND, OR, NOT 
  - 조건문에 사용되는 조건의 경우, boolean이기 때문에, 논리식 AND, OR, NOT 이 사용가능
  - AND : and
  - OR : or
  - NOT : not
  
* 논리표 
  - AND 
      - T AND T : T
      - T AND F : F
      - F AND T : F
      - F AND F : F
  - OR 
      - T OR T : T
      - T OR F : T
      - F OR T : T
      - F OR F : F
      
  - NOT 
      - NOT T : F
      - NOT F : T
* 우선순위
  - NOT > AND > OR

In [ ]:
a = 10
b = 8
c = 11

In [ ]:
#or and / priority

In [ ]:
#not

#### if의 조건이 bool이 아닌 경우
 * 일반적으로는 조건문에는 bool이 주로 위치 함
 * 하지만, 정수, 실수, 문자열 리스트 등 기본 타입도 조건에 사용 가능
 * False로 간주되는 값 (각 타입의 기본값)
     * None
     * 0
     * 0.0
     * ''
     * [] -> 빈 리스트
     * () -> 빈 튜플
     * {} -> 빈 딕셔너리
     * set() -> 빈 집합
 * 그밖에는 모두 True로 간주

#### if, else
  - if가 아닌 경우, 나머지 조건을 표현하고 싶다면 바로 아래 else 블락 사용
  - 이 경우, if조건이 True인 경우, if 블락의 코드가 수행, 거짓인 경우 else 블락의 코드가 수행
  - 주의 할 점 : if와 else사이에 다른 코드 삽입 불가

In [ ]:
#binary

#### if, elif, else
  - 조건이 여러개인 경우, 다음 조건을 elif 블록에 명시 가능
  - 이 경우, 각 조건을 확인 후, True인 조건의 코드 블락을 실행 한 후, 전체 if, elif, else 구문을 종료
  - 조건문을 사용할 때는, if 이후, 0개 이상의 elif를 사용 가능하며 0개 또는 1개의 else를 사용 가능함

```python
a = 16
if a % 4 == 0:
    print('a is divisible by 4')
elif a % 4 == 1:
    print('a % 4 is 1')
elif a % 4 == 2:
    print('a % 4 is 2')
else:
    print('a % 4 is 3')
```

In [2]:
#경우에 맞게 elif

In [ ]:
#elif and if code block

#### 중첩 조건문(nested condition)
  - 조건문의 경우 중첩하여 작성 가능
  - 중첩의 의미는 depth(깊이)로 생각할 수 있으며, depth의 제한은 없음

#**반복문의 이해 및 활용 (while)**

### loop (반복문)
 + 반복적인 작업을 가능하게 해주는 도구
 + 특정 조건을 만족하는 경우 수행할 수 있음 (while)
 + 리스트, 문자열, 튜플 등 컬렉션 타입의 아이템을 하나씩 순회하면서 사용 가능 (for)
 + 코드 작업에서, 가장 많이 사용하는 구문 중 하나
 + 주의할점: while을 사용할 경우, 반복을 멈추게 하는 장치가 필요
   + 그렇지 않으면 셀이 무한히 수행되며, jupyter notebook의 재부팅이 필요

#### while 키워드
  - while 뒤의 조건이 True일 경우, while 코드 블록을 계속 수행
  - while 코드 블록
    - if와 마찬가지로 while문 아래의 들여쓰기로 작성 된 부분을 의미
  - 조건이 False가 되면 블록 수행을 멈추고 이후 코드를 실행

#### while 키워드 이용하여 리스트의 아이템 출력하기

In [4]:
a = [1,2,3,20, 55, 70]

#### while 키워드 이용하여 리스트의 아이템 출력하기
 - 조건문과 함께 사용하기

In [9]:
i = 0 #index
while i < len(a):
  if a[i] > 20:
    print(a[i], 'is bigger than 20')
  i += 1

55 is bigger than 20
70 is bigger than 20

#### 무한루프
 - while의 경우 종료가 되지 않도록 코드를 작성하면 블록에서 빠져나올 수 없음

In [ ]:
while True:
  print('hahah')

#### break 
 + loop를 중단할 때 사용
 + 보통 조건문 안에서 수행되며, 조건을 만족하는 경우 loop를 탈출하기 위해 사용
 + loop를 중단 하는 경우, while 이후의 코드를 수행

In [19]:
a = [1,2,3,4,5,20,35]
i = 0
while i < len(a):
  if a[i] > 19:
    break

  print(a[i])
  i += 1

print('haha')

1
2
3
4
5
haha

#### continue
 + break 처럼 반복을 중단하진 하여 빠져나오지 않고, 다시 while조건으로 점프함
 + 특정한 경우에는 코드를 수행하지 않고 다음으로 건너 뛰기 위해 사용

### 1에서 100까지 더하기

#**반복문의 이해 및 활용 (for & range) 함수 이해**

### for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 아래와 같은 문법으로 사용
 - 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
 - 모든 아이템이 순회되면 for 블록 종료
 
```python
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [ ]:
#automatically cycle compare to while

#### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능

In [ ]:
#only index type can be cycled

#### 리스트 아이템 출력하기

#### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
  - keys()함수를 이용하여 key 값만 순회 가능
  - values()함수를 이용하여 value 값만 순회 가능
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능

#### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)

```python
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    print i, val
```

####  break
  - for의 경우에도 특정 조건일 때, loop 종료가 가능

#### continue
 - 해당 아이템을 건너 뛰고 싶을 때 사용

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
  - 또한 중첩의 경우 무한히 가능

```python
a = [1, 2, 4]
for i in a:
    for j in a:
        print i * j
```

#### 구구단 출력하기

#### collection의 길이
 - len() 내장함수로 계산 가능
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
 - abs, len, type, range 등이 있음 (과정 진행하면서 필요할 때마다 다룰 예정)

#### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수
  - 주어진 값에 따라 다양한 결과를 반환
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

* 1 - 100까지의 리스트 생성하기

* **연습문제** 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

#**함수의 이해와 함수 구현 및 사용 숙지**

### 함수?
* 지금까지 무심코 코드에서 사용된 많은 함수들이 존재 합니다.
* 예를들면, sum, len, range 같은 함수 등이 있죠.
* 함수란 우리가 알고있는 개념처럼 주어진 입력(input)에 대해서 의도된 출력(output)를 전달하는 역할을 합니다.

* 그렇다면, 하나씩 살펴보겠습니다.
  > range 함수는 정수를 입력으로 전달하면 [0, 정수) 로 이루어진 리스트를 생성하는 역할을 합니다.
  
  > sum 함수는 리스트, 튜플등을 입력으로 전달하면 전체 아이템의 합을 출력으로 전달하는 역할을 합니다.
  
  > len 함수는 리스트, 튜플등을 입력으로 전달하면 아이템의 개수를 출력으로 전달하는 역할을 합니다.
  
* 그리고, 위의 함수들은 모두 python 내부에 이미 정의(구현)이 되어 있습니다.
* 위와 같은 함수를 내장함수(built-in function)이라고 합니다.

In [ ]:
# 내장 함수의 예

#### **함수의 정의**
  + 정의 시 최초에 def 키워드 사용
  + argument 정의 (함수에 입력으로 전달하는 값을 의미, argument 또는 parameter라고 함) 
  + : (콜론) -> 함수 역시 코드 블록이기 때문에 콜론(:) 필요
  + body (함수의 구현 부분, 함수 역시 코드 블록이기 때문에 들여쓰기 된 부분까지 함수의 코드블록으로 인지 함)
    - 함수를 호출한 코드 (caller)로 함수가 해당 기능을 수행하고 완료된 값(output)을 전달하기 위해 return 키워드 사용
    - 즉, return 이후에 오는 값을 caller로 전달
  + 함수의 네이밍 역시 중요
    - 즉, 어떤 기능을 하는 함수인지 이름으로 최대한 나타날 수 있게 해야함
    - e.g) get_a (x) get_student_name (o)

#### **함수의 사용(호출)**
 + 함수명(파라미터1, 파라미터2, ... 파라미터n)
 + 위와 같이 정의 된 함수의 이름과 전달되는 parameter(인자)를 괄호안에 전달하여 함수를 호출
 + 함수가 호출되면 실행의 흐름이 호출자(caller)에서 함수(callee)로 변경 됨
 
 + 함수의 입력(인풋) 파라미터(parameter), 아규먼트(argument)라고도 함

#### **함수 네이밍(naming)**
  * 함수 이름으로부터 기능이 명시 
  * 의미와 반대되거나 맞지 않는 이름은 사용금지

#### **parameter(argument) (인자)**
 + 함수에 전달되는 입력(input)
 + 입력이 필요하지 않을 수도, 1개의 입력만 있을 수도, 여러개의 입력이 존재할 수 도 있음
 + 파라미터로 int, string, float, boolm, list, dict 등등 어떤 파이썬 객체도 전달 가능
 + 심지어, 함수도 함수의 파라미터로 전달 가능
 
 + python의 경우, 타입 명시가 없기 때문에, 함수 생성 시, 의도된 파라미터의 타입에 맞게 입력을 전달하는 것이 중요
 + 또한 파라미터를 전달 할 때, 정의된 순서에 따라 값을 전달하는 것이 중요

In [ ]:
#non arg & type

####  Default parameter (기본 인자) 
 + 함수의 파라미터에 기본값 지정 가능
 + 파라미터를 명시하지 않을 경우, 지정된 기본값으로 대체

* **기본 파라미터의 다른 예**
 - print 함수
   - sep, end, file등 여러 기본 파라미터를 가짐

In [ ]:
print()

####  Default parameter 사용 시 주의 점
  * 디폴트 파라미터 뒤에 일반 파라미터가 위치할 수 없음
  
  * e.g) 올바른 예
    > def test(a, b, c = 1)
    
    > def test(a, b = 1, c = 2)
    
    > def test(a = 1, b = 1, c = 3)
    
  * e.g) 올바르지 않은 예
    > def test(a, b = 1, c)
    
    > def test(a = 1, b, c)
    
    > def test(a = 1, b = 1, c)

#### **keyword parameter (키워드 파라미터)**
  * 파이썬의 경우, 파라미터에 값을 전달 할 때, 파라미터의 이름을 명시하여 전달 가능
  * 파라미터 이름을 사용하지 않을 경우, 기본적으로 순서에 맞게 전달

#### **return (리턴)**
 + 기본적으로 함수의 종료를 명시
   + return 옆에 값이나 수식이 있다면 해당 값을 호출자(caller)에게 반환(전달)
   + return 만 존재하면 None 반환
   + return이 없는 경우, 기본적으로 함수 코드 블록이 종료되면 종료로 간주. 이때도 None 반환

#### **multiple return (복수 값 반환)**
 + tuple반환을 하여 복수개의 값 리턴 가능

#### **variable scope (변수의 범위)** 
 + 변수가 참조 가능한 코드상의 범위를 명시
 + 함수내의 변수는 자신이 속한 코드 블록이 종료되면 소멸됨
 + 이렇게 특정 코드 블록에서 선언된 변수를 **지역변수(local variable)** 이라고 함
 + 반대로 가장 상단에서 정의되어 프로그램 종료 전까지 유지되는 변수를 **전역변수(global variable)**이라고 함
 + 같은 이름의 지역변수와 전역변수가 존재할 경우, 지역변수의 우선순위가 더 높음

#### **variable length argument (가변길이 인자)**
 - 전달되는 파라미터의 개수가 고정적이지 않은 경우 사용
 - e.g)
   - print 함수
   - format 함수
  
> ***args**,  ****kwargs**

> ***args**    : 파라미터를 튜플의 형태로 전달

> ****kwargs** : 파리미터를 딕셔너리 형태로 전달(네임드 파라미터)

#### **keyword parameter (키워드 파라미터)**
 - \**가 붙은 경우에는 키워드 파라미터로 인식
 - 즉 함수 호출 시, 파리미터의 이름과 값을 함께 전달 가능

* 가변길이 함수의 대표적인 예
 **문자열 포맷 함수**
 - 여러가지 값과 포맷을 이용하여 문자열을 정의할 수 있는 함수
 - {} placeholder를 문자열 내에 위치 시킨 후, 해당 위치에 format함수로 전달된 값으로 대체하여 문자열 생성
 - 포맷 구성은 다음 링크 참조 : https://pyformat.info/



#**Lambda 함수 이해 및 사용**

* **Lambda 함수**
 + 단일문으로 표현되는 익명함수
 + 익명함수란 이름이 없는 구현체만 존재하는 간단한 함수를 의미
 + 코드 상에서 한번만 사용되는 기능이 있을 때, 굳이 함수로 만들지 않고 1회성으로 만들어서 쓸 때 사용.

#### **filter, map, reduce**
 + lambda가 유용하게 사용되는 3가지 대표적 함수
 + 함수형 프로그래밍의 기본 요소이기도 함
 + filter : 특정 조건을 만족하는 요소만 남기고 필터링
 + map    : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트를 반환
 + reduce : 차례대로 앞 2개의 원소를 가지고 연산. 연산의 결과가 또 다음 연산의 입력으로 진행됨. 따라서 마지막까지 진행되면 최종 출력은 한개의 값만 남게 됨


#### 함수 연습문제
 1. 주어진 숫자 리스트의 평균을 구하는 함수를 출력하시오
 1. 해당 숫자가 소수인지 아닌지 판별하시오.
 2. 2부터 해당 숫자사이에 소수가 몇개인지 출력하는 함수를 구하시오



#**module의 이해 및 module import 하기**

### **모듈 임포트**
 + 그동안 사용했던 함수들 처럼, 다양한 기능들이 미리 함수로 구현되어 모듈 형태로 제공
 + 대표적으로 추후 과정에서 사용하게 될 아래의 모듈들이 존재

 + requests - HTTP 요청/응답 모듈
 + numpy - 수치해석 모듈 
 + pandas - 데이터 분석 모듈

#### import 
 - import를 사용하여 해당 모듈 전체를 import

#### from import 
 - 해당 모듈에서 특정한 타입만 import

#### \* 임포트
 - 해당 모듈내에 정의된 모든 것을 import
 - 일반적으로 사용이 권장되지 않음

#### as 
 - 모듈 import 시, alias(별명) 지정가능

#**클래스와 오브젝트에 대한 이해**

#### **class란?**
 + 실세계의 것을 모델링하여 속성(attribute)와 동작(method)를 갖는 데이터 타입
 + python에서의 string, int, list, dict.. 모두가 다 클래스로 존재
 + 예를들어 학생이라는 클래스를 만든다면, 학생을 나타내는 속성과 학생이 행하는 행동을 함께 정의 할 수 있음
 + 따라서, 다루고자 하는 데이터(변수) 와 데이터를 다루는 연산(함수)를 하나로 캡슐화(encapsulation)하여 클래스로 표현
 + 모델링에서 중요시 하는 속성에 따라 클래스의 속성과 행동이 각각 달라짐

#### **object 란?**
 - 클래스로 생성되어 구체화된 객체(인스턴스)
 - 파이썬의 모든 것(int, str, list..etc)은 객체(인스턴스)
 - 실제로 class가 인스턴스화 되어 메모리에 상주하는 상태를 의미
 - class가 빵틀이라면, object는 실제로 빵틀로 찍어낸 빵이라고 비유 가능

#### **class 선언하기**
  - 객체를 생성하기 위해선 객체의 모체가 되는 class를 미리 선언해야 함

#### __init__(self)
 + 생성자, 클래스 인스턴스가 생성될 때 호출됨
 + self인자는 항상 첫번째에 오며 자기 자신을 가리킴
 + 이름이 꼭 self일 필요는 없지만, 관례적으로 self로 사용
 
 + 생성자에서는 해당 클래스가 다루는 데이터를 정의
   - 이 데이터를 멤버 변수(member variable) 또는 속성(attribute)라고 함

#### **mehtod 정의**
 + 멤버함수라고도 하며, 해당 클래스의 object에서만 호출가능
 + 메쏘드는 객체 레벨에서 호출되며, 해당 객체의 속성에 대한 연산을 행함
 + {obj}.{method}() 형태로 호출됨

 #### **Class Inheritance (상속)**
  - 기존에 정의해둔 클래스의 기능을 그대로 물려받을 수 있다.
  - 기존 클래스에 기능 일부를 추가하거나, 변경하여 새로운 클래스를 정의한다.
  - 코드를 재사용할 수 있게된다.
  - 상속 받고자 하는 대상인 기존 클래스는 (Parent, Super, Base class 라고 부른다.)
  - 상속 받는 새로운 클래스는(Child, Sub, Derived class 라고 부른다.)
  - 의미적으로 is-a관계를 갖는다

#### **method override**
 - 부모 클래스의 method를 재정의(override)
 - 하위 클래스(자식 클래스) 의 인스턴스로 호출시, 재정의된 메소드가 호출됨

#### super 
 - 하위클래스(자식 클래스)에서 부모클래스의 method를 호출할 때 사용

#### **self**
 - 파이썬의 method는 항상 첫번째 인자로 self를 전달
 - self는 현재 해당 메쏘드가 호출되는 객체 자신을 가리킴
 - C++/C#, Java의 this에 해당
 - 역시, 이름이 self일 필요는 없으나, 위치는 항상 맨 처음의 parameter이며 관례적으로 self로 사용

#### **method type**
 - instance method - 객체로 호출
   - 메쏘드는 객체 레벨로 호출 되기 때문에, 해당 메쏘드를 호출한 객체에만 영향을 미침
 - class method    - class로 호출
       - 클래스 메쏘드의 경우, 클래스 레벨로 호출되기 때문에, 클래스 멤버 변수만 변경 가능

#### **special method**
 - __로 시작 __로 끝나는 특수 함수
 - 해당 메쏘드들을 구현하면, 커스텀 객체에 여러가지 파이썬 내장 함수나 연산자를 적용 가능
 - 오버라이딩 가능한 함수 목록은 아래 링크에서 참조 
   - https://docs.python.org/3/reference/datamodel.html

#### 연습문제)
 - 복소수 클래스를 정의 해봅시다.
 - 덧셈, 뺄셈, 곱셈 연산자 지원
 - 길이 (복소수의 크기) 지원 
 - 복소수 출력 '1 + 4j'와 같이 표현
 - 비교 연산 ==, != 지원
 - >=, <= , <, > 연산 지원
 - 절대값 지원